{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{%  block stylesheets%}
<link rel="stylesheet" href="{{asset('asset/css/sign_up.css')}}">
{% endblock %}

<section id="signUp">
    <div class="container">
      <div class="row">
        <div class="form-wrap col-lg">
            <div class="form">
                
                {{ form_start(registrationForm) }}
                <h1>Inscription</h1>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
            
                    <button type="submit" class="btn btn-primary">Continuer</button>
                    <p>Vous avez déja un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                {{ form_end(registrationForm) }}
            </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
